@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for the WhatsApp button container */
.whatsapp-container {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

/* Styling for the WhatsApp button link */
.whatsapp-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

/* Styling for the WhatsApp icon */
.whatsapp-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* Styling for the WhatsApp message */
.whatsapp-message {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
}
